/* This styles the header and title of the page */
.title {
    text-align: center;
    background-image: linear-gradient(to right, rgb(165, 173, 207) , rgb(76, 168, 130));
    border: 1px solid black;
    text-shadow: 3px 3px rgba(83, 121, 160, 0.993);
}

/* This styles the "Resutls" title in the results card */
h2 {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 28px;
}

/* This styles the results card on the right of the page */
.column {
    margin: 2rem;
    background-color: rgba(128, 167, 126, 0.397);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 2.5px rgba(119, 136, 153, 0.397);
}

/* This styles the search card on the left of the page */
.custom-column {
    margin-left: 2rem;
    text-align: center;
    background-color: rgba(129, 176, 185, 0.397);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 2.5px rgba(119, 136, 153, 0.397);
}